In [ ]:
import pandas as pd
import numpy as np
import requests
import json
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
import pandas as pd
import numpy as np
data=pd.read_csv('/content/added_users.csv',encoding='latin1')
data.shape

(569, 8)

In [3]:
data.head()

,id,name,screen_name,friends_count,created_at,lang,location,description
0,22903,effeffe,effeffe,194,Sun Nov 26 15:19:32 +0000 2006,it,"Napoli, Italy",L'uomo ha creato dio a sua immagine e somiglia...
1,24503,Roberto Bonanzinga,Bonanzinga,1466,Mon Nov 27 06:55:12 +0000 2006,en,Between Europe and the US,Partner at Balderton Capital (formerly Benchma...
2,286543,Alessio Bragadini,abragad,535,Wed Dec 27 14:55:17 +0000 2006,en,"Milan, Italy",Web and social media developer from Italy
3,382393,Ciro Cattuto,ciro,832,Sun Dec 31 02:03:17 +0000 2006,en,"Torino, Piedmont",Research Director at ISI Foundation. Data scie...
4,438023,fullcaffeine,fullcaffeine,444,Tue Jan 02 09:01:50 +0000 2007,it,Bologna,NaN

In [22]:
df=pd.DataFrame(data)
df.head()

,id,name,screen_name,friends_count,created_at,lang,location,description,cos_sim_values
0,22903,effeffe,effeffe,194,Sun Nov 26 15:19:32 +0000 2006,it,"Napoli, Italy",L'uomo ha creato dio a sua immagine e somiglia...,0.0
1,24503,Roberto Bonanzinga,Bonanzinga,1466,Mon Nov 27 06:55:12 +0000 2006,en,Between Europe and the US,Partner at Balderton Capital (formerly Benchma...,0.0
2,286543,Alessio Bragadini,abragad,535,Wed Dec 27 14:55:17 +0000 2006,en,"Milan, Italy",Web and social media developer from Italy,0.0
3,382393,Ciro Cattuto,ciro,832,Sun Dec 31 02:03:17 +0000 2006,en,"Torino, Piedmont",Research Director at ISI Foundation. Data scie...,0.0
4,438023,fullcaffeine,fullcaffeine,444,Tue Jan 02 09:01:50 +0000 2007,it,Bologna,NaN,0.0

In [5]:
import nltk

#Import the WordNetLemmatizer class from the nltk.stem module
from nltk.stem import WordNetLemmatizer

#Create an instance of the WordNetLemmatizer class
wnl = WordNetLemmatizer()

#Download the WordNet dataset
nltk.download('wordnet')

#defining a function to lemmatize a text
def lemmatize(word_to_lemmatize):
  return(wnl.lemmatize(word_to_lemmatize))

[nltk_data] Downloading package wordnet to /root/nltk_data...

In [6]:
from gensim.models import Word2Vec

# Importing the word_tokenize function from the nltk.tokenize module
from nltk.tokenize import word_tokenize

text_vector_mapping = {}

# Preprocess text (example)
# text1 = "sdfdsf sfgfdsgfd sfdgdsg pant for boys."

#Function to extract useful features from the text
def word_embedding(input_text):
    text2 = input_text
    # tokens1 = word_tokenize(text1.lower())  # Tokenize and convert to lowercase
    tokens2 = word_tokenize(text2.lower())  # Tokenize and convert to lowercase

    # Train Word2Vec model (example)
    model = Word2Vec(sentences=[tokens2], min_count=1, vector_size=100)

    # Extract features using average word vectors
    def extract_features(text):
        tokens = word_tokenize(text.lower())  # Preprocess text
        vectors = [model.wv[word] for word in tokens if word in model.wv]  # Get word vectors
        if vectors:
            avg_vector = sum(vectors) / len(vectors)  # Calculate average vector
            return avg_vector
        else:
            return None

    # Convert vector back to text
    def vector_to_text(vector):
        text = text_vector_mapping.get(tuple(vector), "Vector representation not found.")
        return text

    # Example usage
    # features1 = extract_features(text1)
    features2 = extract_features(text2)

    # text_vector_mapping[tuple(features1)] = text1
    text_vector_mapping[tuple(features2)] = text2

    #Storing the final extracted text in extracted_text
    extracted_text = vector_to_text(features2)

    return extracted_text

In [7]:
df.head()

,id,name,screen_name,friends_count,created_at,lang,location,description
0,22903,effeffe,effeffe,194,Sun Nov 26 15:19:32 +0000 2006,it,"Napoli, Italy",L'uomo ha creato dio a sua immagine e somiglia...
1,24503,Roberto Bonanzinga,Bonanzinga,1466,Mon Nov 27 06:55:12 +0000 2006,en,Between Europe and the US,Partner at Balderton Capital (formerly Benchma...
2,286543,Alessio Bragadini,abragad,535,Wed Dec 27 14:55:17 +0000 2006,en,"Milan, Italy",Web and social media developer from Italy
3,382393,Ciro Cattuto,ciro,832,Sun Dec 31 02:03:17 +0000 2006,en,"Torino, Piedmont",Research Director at ISI Foundation. Data scie...
4,438023,fullcaffeine,fullcaffeine,444,Tue Jan 02 09:01:50 +0000 2007,it,Bologna,NaN

In [ ]:
import nltk

#Import the WordNetLemmatizer class from the nltk.stem module
from nltk.stem import WordNetLemmatizer

#Create an instance of the WordNetLemmatizer class
wnl = WordNetLemmatizer()

#Download the WordNet dataset
nltk.download('wordnet')

#defining a function to lemmatize a text
def lemmatize(word_to_lemmatize):
  return(wnl.lemmatize(word_to_lemmatize))

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [ ]:
from gensim.models import Word2Vec

# Importing the word_tokenize function from the nltk.tokenize module
from nltk.tokenize import word_tokenize

text_vector_mapping = {}

# Preprocess text (example)
# text1 = "sdfdsf sfgfdsgfd sfdgdsg pant for boys."

#Function to extract useful features from the text
def word_embedding(input_text):
    text2 = input_text
    # tokens1 = word_tokenize(text1.lower())  # Tokenize and convert to lowercase
    tokens2 = word_tokenize(text2.lower())  # Tokenize and convert to lowercase

    # Train Word2Vec model (example)
    model = Word2Vec(sentences=[tokens2], min_count=1, vector_size=100)

    # Extract features using average word vectors
    def extract_features(text):
        tokens = word_tokenize(text.lower())  # Preprocess text
        vectors = [model.wv[word] for word in tokens if word in model.wv]  # Get word vectors
        if vectors:
            avg_vector = sum(vectors) / len(vectors)  # Calculate average vector
            return avg_vector
        else:
            return None

    # Convert vector back to text
    def vector_to_text(vector):
        text = text_vector_mapping.get(tuple(vector), "Vector representation not found.")
        return text

    # Example usage
    # features1 = extract_features(text1)
    features2 = extract_features(text2)

    # text_vector_mapping[tuple(features1)] = text1
    text_vector_mapping[tuple(features2)] = text2

    #Storing the final extracted text in extracted_text
    extracted_text = vector_to_text(features2)

    return extracted_text

In [13]:
from numpy import dot

#Import the norm function from the numpy.linalg module
from numpy.linalg import norm

#Import the quote function from the urllib.parse module
from urllib.parse import quote


#creating resulting dataframe
result_df = df[['id']].copy()

In [31]:
#def compute_similarity1()
  #Defining two empty lists
  #cos_sim_values = []


  #Run a loop to compute similarity between two vectors
#for i in range(0,len(df)):

      #storing elements from the cell in Product_name
      name = (df['name'][i:i+1])

      #converting to string value
      input_name = name.to_string()



      #storing elements from the cell in Product_url_clean
      screen_name = (df['screen_name'][i:i+1])

      #converting to string value
      input_screen_name = screen_name.to_string()

      # Removing any digit association with the text
      #screen_name = ''.join([m for m in screen_name if not m.isdigit()])

      description = (df['description'][i:i+1])

      #converting to string value
      input_description = description.to_string()

      # Removing any digit association with the text
      #description = ''.join([j for j in name if not j.isdigit()])


      #splitting the words and storing it in dataframe
      name_df = pd.DataFrame({"Words": input_name.split()})
      name_df.head()
      #lookup for the frequency of the words
      name_df_freq = pd.DataFrame(pd.crosstab(index=name_df['Words'],columns='count'))

      #splitting the words and storing it in dataframe
      screen_df = pd.DataFrame({"Words1": input_screen_name.split()})

      #lookup for the frequency of the words
      screen_df_freq = pd.DataFrame(pd.crosstab(index=screen_df['Words1'],columns='count'))

      description_df = pd.DataFrame({"Words2": input_description.split()})

      #lookup for the frequency of the words
      description_df_freq = pd.DataFrame(pd.crosstab(index=description_df['Words2'],columns='count'))

      #concat the dfs
      #dfs = [name_df_freq, screen_df_freq]
      #all_words = pd.concat(dfs, axis=1)
      #dfs1=[name_df_freq,description_df_freq]
      #all_words1 = pd.concat(dfs1, axis=1)
      #dfs2=[screen_df_freq,description_df_freq]
      #all_words2 = pd.concat(dfs2, axis=1)

      # Substituting the NAN with zeros
      #all_words = all_words.fillna(0)
      #all_words.columns = ["name_data", "screen_data"]
      #all_words1= all_words.fillna(0)
      #all_words1.columns=["name_data","description_data"]
      #all_words2= all_words.fillna(0)
      #all_words2.columns=["screen_data","description_data"]
      #computing the cosine values
      #cos_sim = dot(all_words["name_data"], all_words["screen_data"])/(norm(all_words["name_data"])*norm(all_words["screen_data"]))
      #cos_sim = dot(all_words1["name_data"], all_words1["description_data"])/(norm(all_words1["name_data"])*norm(all_words1["description_data"]))
      #cos_sim = dot(all_words2["screen_data"], all_words2["description_data"])/(norm(all_words2["screen_data"])*norm(all_words2["description_data"]))

      #append the values in the corresponding lists
      #cos_sim_values.append(cos_sim)

  #storing the above lists values in the newly created column
  #df['cos_sim_values'] = cos_sim_values

  #Return the value

In [57]:
cos_sim_values=[]
for i in range(0,len(df)):
    for j in range(i+1,len(df)):

        cos_sim=dot(df['name'][i],df['name'][j])/(norm(df['name'][i])*norm(df['name'][j]))
cos_sim_values.append(cos_sim)

UFuncTypeError: ignored

In [50]:
df['name'][0]

'effeffe'

In [15]:
df.columns

Index(['id', 'name', 'screen_name', 'friends_count', 'created_at', 'lang',
       'location', 'description'],
      dtype='object')

In [16]:
nltk.download('punkt')

#calling the function to extract useful features

# calling the function to measure cosine similarity
result_df = compute_similarity1(df)

#sorting the cosine values in order of highest values in the top
result_df = result_df.sort_values(by='cos_sim_values', ascending=False)

#Displaying the result after the above-mentioned operations
result_df.head()

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

,id,name,screen_name,friends_count,created_at,lang,location,description,cos_sim_values
0,22903,effeffe,effeffe,194,Sun Nov 26 15:19:32 +0000 2006,it,"Napoli, Italy",L'uomo ha creato dio a sua immagine e somiglia...,0.0
382,281234838,Elisabetta Bianchini,bettabianchini,29,Tue Apr 12 22:20:57 +0000 2011,it,NaN,Let's think please!,0.0
376,267989312,Fabio Papotti,fabiop953,254,Thu Mar 17 23:19:19 +0000 2011,it,Italy,The better is yet to come,0.0
377,271374532,Bluest Blues,bluestblues1,48,Thu Mar 24 11:24:05 +0000 2011,it,Praga,NaN,0.0
378,272121120,Carlo Bonini,cmbonini,93,Fri Mar 25 21:47:12 +0000 2011,it,NaN,NON sono giornalista,0.0

In [ ]:
from gensim.models import Word2Vec

# Importing the word_tokenize function from the nltk.tokenize module
from nltk.tokenize import word_tokenize

text_vector_mapping = {}

# Preprocess text (example)
# text1 = "sdfdsf sfgfdsgfd sfdgdsg pant for boys."

#Function to extract useful features from the text
def word_embedding(input_text):
    text2 = input_text
    # tokens1 = word_tokenize(text1.lower())  # Tokenize and convert to lowercase
    tokens2 = word_tokenize(text2.lower())  # Tokenize and convert to lowercase

    # Train Word2Vec model (example)
    model = Word2Vec(sentences=[tokens2], min_count=1, vector_size=100)

    # Extract features using average word vectors
    def extract_features(text):
        tokens = word_tokenize(text.lower())  # Preprocess text
        vectors = [model.wv[word] for word in tokens if word in model.wv]  # Get word vectors
        if vectors:
            avg_vector = sum(vectors) / len(vectors)  # Calculate average vector
            return avg_vector
        else:
            return None

    # Convert vector back to text
    def vector_to_text(vector):
        text = text_vector_mapping.get(tuple(vector), "Vector representation not found.")
        return text

    # Example usage
    # features1 = extract_features(text1)
    features2 = extract_features(text2)

    # text_vector_mapping[tuple(features1)] = text1
    text_vector_mapping[tuple(features2)] = text2

    #Storing the final extracted text in extracted_text
    extracted_text = vector_to_text(features2)

    return extracted_text

In [ ]:
from gensim.models import Word2Vec

# Importing the word_tokenize function from the nltk.tokenize module
from nltk.tokenize import word_tokenize

text_vector_mapping = {}

# Preprocess text (example)
# text1 = "sdfdsf sfgfdsgfd sfdgdsg pant for boys."

#Function to extract useful features from the text
def word_embedding(input_text):
    text2 = input_text
    # tokens1 = word_tokenize(text1.lower())  # Tokenize and convert to lowercase
    tokens2 = word_tokenize(text2.lower())  # Tokenize and convert to lowercase

    # Train Word2Vec model (example)
    model = Word2Vec(sentences=[tokens2], min_count=1, vector_size=100)

    # Extract features using average word vectors
    def extract_features(text):
        tokens = word_tokenize(text.lower())  # Preprocess text
        vectors = [model.wv[word] for word in tokens if word in model.wv]  # Get word vectors
        if vectors:
            avg_vector = sum(vectors) / len(vectors)  # Calculate average vector
            return avg_vector
        else:
            return None

    # Convert vector back to text
    def vector_to_text(vector):
        text = text_vector_mapping.get(tuple(vector), "Vector representation not found.")
        return text

    # Example usage
    # features1 = extract_features(text1)
    features2 = extract_features(text2)

    # text_vector_mapping[tuple(features1)] = text1
    text_vector_mapping[tuple(features2)] = text2

    #Storing the final extracted text in extracted_text
    extracted_text = vector_to_text(features2)

    return extracted_text

In [ ]:
def word_embedding(input_text):
    text2 = input_text
    # tokens1 = word_tokenize(text1.lower())  # Tokenize and convert to lowercase
    tokens2 = word_tokenize(text2.lower())  # Tokenize and convert to lowercase

    # Train Word2Vec model (example)
    model = Word2Vec(sentences=[tokens2], min_count=1, vector_size=100)

    # Extract features using average word vectors
    def extract_features(text):
        tokens = word_tokenize(text.lower())  # Preprocess text
        vectors = [model.wv[word] for word in tokens if word in model.wv]  # Get word vectors
        if vectors:
            avg_vector = sum(vectors) / len(vectors)  # Calculate average vector
            return avg_vector
        else:
            return None

    # Convert vector back to text
    def vector_to_text(vector):
        text = text_vector_mapping.get(tuple(vector), "Vector representation not found.")
        return text

    # Example usage
    # features1 = extract_features(text1)
    features2 = extract_features(text2)

    # text_vector_mapping[tuple(features1)] = text1
    text_vector_mapping[tuple(features2)] = text2

    #Storing the final extracted text in extracted_text
    extracted_text = vector_to_text(features2)

    return extracted_text

id                int64
name             object
screen_name      object
friends_count     int64
created_at       object
lang             object
location         object
description      object
dtype: object

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting hashable_df
  Downloading hashable_df-0.0.7-py2.py3-none-any.whl (2.9 kB)
Collecting autohash (from hashable_df)
  Downloading autohash-0.0.1-py2.py3-none-any.whl (4.1 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from hashable_df) (1.22.4)
Installing collected packages: autohash, hashable_df
Successfully installed autohash-0.0.1 hashable_df-0.0.7

NameError: ignored

Empty DataFrame
Columns: [id, name, screen_name, friends_count, created_at, lang, location, description]
Index: []

Empty DataFrame
Columns: [id, name, screen_name, friends_count, created_at, lang, location, description]
Index: []

<ipython-input-41-f139d60abc15>:3: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  groups = duplicate.groupby(duplicate.columns.tolist()).apply(lambda x: tuple(x.index)).tolist()

AttributeError: ignored

TypeError: ignored

In [ ]:
df.columns

Index(['Name', 'Work and Education', 'Places Lived', 'Contact and Basic info',
       'Family and relationships', 'Life events', 'Friends_Count',
       'Followers_Count'],
      dtype='object')

ValueError: ignored

,Name,Places Lived,Work and Education
107,Dhruv,"Ernakulam-Current city,Vypin, Kerala, India-Ho...","Work-Works at Facebook,College-Studied at Maha..."
118,Dhruv,"Calicut,India\n",College-Studied at University of Calicut\n\n\n...

NameError: ignored

dtype('O')

dtype('O')

<ipython-input-5-cc1ec2189668>:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Work and Education'] = df['Work and Education'].str.replace(char, ' ')

                                         Places Lived
0                                        Irinjalakuda
1                                                 NaN
2                          Pazhayannur, Kerala, India
3                                Southfield, Michigan
4             Thrissur,Pazhayannur, Kerala, India\n\n
5                                            Thrissur
6   Vadakara, India-Current city,Calicut, India-Ho...
7   Thrissur Current city,Pazhayannur, Kerala, Ind...
8                              Southfield, Michigan\n
9                                                 NaN
10                                                NaN
11                  Kuwait City,Abbassiya, Kuwait\n\n
12                                    Pattazhi, India
13                                          Ernakulam
14                                           Thrissur
15                                                NaN
16                                           Thrissur
17                          Perintalmanna,Palghat\n\n
18                                                NaN
19                                         Thrissur\n
20                                   Bangalore, India
21                                                NaN
22                                          Palghat\n
23                         Ernakulam,Kochi, India\n\n
24                                         Thrissur\n
25                                          Palghat\n
26                               Cheriyanadu, India\n
27                   Sultans Battery, Kerala, India\n
28  Dhubai-Current city,Kalliassery, India\nHometo...
29                                                NaN