In [232]:
import pandas as pd
train=pd.read_csv('/content/train.csv')
test=pd.read_csv('/content/test.csv')
sample_sumission=pd.read_csv('/content/sample_submission.csv')

In [233]:
sample_sumission.head()

   TRANSACTION_ID  TX_FRAUD
0          524230         0
1          524231         0
2          524232         0
3          524233         0
4          524234         0

In [234]:
train.head()

,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_FRAUD
0,59383,2021-08-01 00:04:37,323,217,4.60,0
1,59384,2021-08-01 00:12:10,6,429,8.61,0
2,59385,2021-08-01 00:12:34,714,1011,64.00,0
3,59386,2021-08-01 00:15:40,266,1969,12.72,0
4,59387,2021-08-01 00:16:01,890,1482,98.88,0

In [130]:
test.head()

   TRANSACTION_ID          TX_DATETIME  CUSTOMER_ID  TERMINAL_ID  TX_AMOUNT
0          352590  2022-01-01 00:03:14          208          640     147.24
1          352591  2022-01-01 00:26:39          851          315      13.27
2          352592  2022-01-01 00:30:30          454           27      70.52
3          352593  2022-01-01 00:31:31          677         1573      44.75
4          352594  2022-01-01 00:56:18          322         1398      37.60

In [235]:
train.sort_values(by=['TRANSACTION_ID'],ascending=True)

,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_FRAUD
0,59383,2021-08-01 00:04:37,323,217,4.60,0
1,59384,2021-08-01 00:12:10,6,429,8.61,0
2,59385,2021-08-01 00:12:34,714,1011,64.00,0
3,59386,2021-08-01 00:15:40,266,1969,12.72,0
4,59387,2021-08-01 00:16:01,890,1482,98.88,0
...,...,...,...,...,...,...
291226,350609,2021-12-30 23:33:02,221,41,61.26,0
291227,350610,2021-12-30 23:46:15,101,761,58.80,0
291228,350611,2021-12-30 23:54:38,7,1991,15.08,0
291229,350612,2021-12-30 23:56:36,161,1166,54.24,0
291230,350613,2021-12-30 23:58:21,618,1549,6.62,0

In [236]:
test.sort_values(by=['TRANSACTION_ID'],ascending=True)

,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT
0,352590,2022-01-01 00:03:14,208,640,147.24
1,352591,2022-01-01 00:26:39,851,315,13.27
2,352592,2022-01-01 00:30:30,454,27,70.52
3,352593,2022-01-01 00:31:31,677,1573,44.75
4,352594,2022-01-01 00:56:18,322,1398,37.60
...,...,...,...,...,...
226726,579316,2022-04-29 23:52:18,27,914,52.01
226727,579317,2022-04-29 23:52:23,947,1281,136.96
226728,579318,2022-04-29 23:54:38,537,1636,15.87
226729,579319,2022-04-29 23:54:39,1,936,35.13
226730,579320,2022-04-29 23:56:44,798,364,73.29

In [237]:
test.head()

   TRANSACTION_ID          TX_DATETIME  CUSTOMER_ID  TERMINAL_ID  TX_AMOUNT
0          352590  2022-01-01 00:03:14          208          640     147.24
1          352591  2022-01-01 00:26:39          851          315      13.27
2          352592  2022-01-01 00:30:30          454           27      70.52
3          352593  2022-01-01 00:31:31          677         1573      44.75
4          352594  2022-01-01 00:56:18          322         1398      37.60

In [238]:
test.shape

(226731, 5)

In [134]:
train.head()

,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_FRAUD
0,59383,2021-08-01 00:04:37,323,217,4.60,0
1,59384,2021-08-01 00:12:10,6,429,8.61,0
2,59385,2021-08-01 00:12:34,714,1011,64.00,0
3,59386,2021-08-01 00:15:40,266,1969,12.72,0
4,59387,2021-08-01 00:16:01,890,1482,98.88,0

In [239]:
customer=pd.read_csv('/content/customer.csv')
terminal=pd.read_csv('/content/terminal.csv')

In [73]:
customer.head()

,CUSTOMER_ID,x_customer_id,y_customer_id,mean_amount,std_amount,mean_nb_tx_per_day,available_terminals,nb_terminals
0,0,54.881350,71.518937,62.262521,31.131260,2.179533,"[29, 87, 144, 241, 330, 858, 996, 1028, 1067, ...",22
1,1,42.365480,64.589411,46.570785,23.285393,3.567092,"[5, 160, 242, 378, 431, 475, 571, 762, 876, 93...",20
2,2,96.366276,38.344152,80.213879,40.106939,2.115580,"[316, 406, 447, 523, 968, 1200, 1318, 1365, 16...",10
3,3,56.804456,92.559664,11.748426,5.874213,0.348517,"[65, 94, 113, 364, 401, 433, 485, 651, 672, 77...",17
4,4,2.021840,83.261985,78.924891,39.462446,3.480049,"[372, 614, 774, 1362, 1446, 1564, 1637, 1939]",8

In [240]:
customer.columns

Index(['CUSTOMER_ID', 'x_customer_id', 'y_customer_id', 'mean_amount',
       'std_amount', 'mean_nb_tx_per_day', 'available_terminals',
       'nb_terminals'],
      dtype='object')

In [241]:
train=train.merge(customer, on='CUSTOMER_ID',how='inner')

In [242]:
train.head()

,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_FRAUD,x_customer_id,y_customer_id,mean_amount,std_amount,mean_nb_tx_per_day,available_terminals,nb_terminals
0,59383,2021-08-01 00:04:37,323,217,4.60,0,84.515409,38.276422,7.353061,3.67653,3.324124,"[51, 68, 208, 217, 293, 353, 534, 717, 773, 86...",19
1,60257,2021-08-01 11:38:13,323,51,4.49,1,84.515409,38.276422,7.353061,3.67653,3.324124,"[51, 68, 208, 217, 293, 353, 534, 717, 773, 86...",19
2,60360,2021-08-01 12:25:19,323,293,11.69,0,84.515409,38.276422,7.353061,3.67653,3.324124,"[51, 68, 208, 217, 293, 353, 534, 717, 773, 86...",19
3,61322,2021-08-02 04:25:39,323,293,9.52,0,84.515409,38.276422,7.353061,3.67653,3.324124,"[51, 68, 208, 217, 293, 353, 534, 717, 773, 86...",19
4,61517,2021-08-02 07:13:38,323,1919,8.32,0,84.515409,38.276422,7.353061,3.67653,3.324124,"[51, 68, 208, 217, 293, 353, 534, 717, 773, 86...",19

In [243]:
terminal.columns

Index(['TERMINAL_ID', 'x_terminal_id', 'y_terminal_id'], dtype='object')

In [244]:
train=train.merge(terminal,on='TERMINAL_ID',how='inner')

In [245]:
train.head()

,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_FRAUD,x_customer_id,y_customer_id,mean_amount,std_amount,mean_nb_tx_per_day,available_terminals,nb_terminals,x_terminal_id,y_terminal_id
0,59383,2021-08-01 00:04:37,323,217,4.60,0,84.515409,38.276422,7.353061,3.67653,3.324124,"[51, 68, 208, 217, 293, 353, 534, 717, 773, 86...",19,80.316334,40.239252
1,81535,2021-08-12 13:40:45,323,217,12.40,0,84.515409,38.276422,7.353061,3.67653,3.324124,"[51, 68, 208, 217, 293, 353, 534, 717, 773, 86...",19,80.316334,40.239252
2,82136,2021-08-12 20:20:23,323,217,4.39,0,84.515409,38.276422,7.353061,3.67653,3.324124,"[51, 68, 208, 217, 293, 353, 534, 717, 773, 86...",19,80.316334,40.239252
3,82904,2021-08-13 10:05:50,323,217,7.41,0,84.515409,38.276422,7.353061,3.67653,3.324124,"[51, 68, 208, 217, 293, 353, 534, 717, 773, 86...",19,80.316334,40.239252
4,85262,2021-08-14 13:07:25,323,217,9.79,0,84.515409,38.276422,7.353061,3.67653,3.324124,"[51, 68, 208, 217, 293, 353, 534, 717, 773, 86...",19,80.316334,40.239252

In [140]:
train.columns

Index(['TRANSACTION_ID', 'TX_DATETIME', 'CUSTOMER_ID', 'TERMINAL_ID',
       'TX_AMOUNT', 'TX_FRAUD', 'x_customer_id', 'y_customer_id',
       'mean_amount', 'std_amount', 'mean_nb_tx_per_day',
       'available_terminals', 'nb_terminals', 'x_terminal_id',
       'y_terminal_id'],
      dtype='object')

In [148]:
from sklearn.model_selection import train_test_split

train , val = train_test_split( train , train_size = 0.80,                               # Iternations , size = 0.80, 0.70, 0.60
                               stratify = train['TX_FRAUD'],
                               random_state = 42)
train.shape

(186387, 6)

In [248]:
train.shape,val.shape,test.shape

((291231, 6), (46597, 6), (226731, 5))

In [79]:
test.head()

,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT
171640,524230,2022-04-01 00:00:15,713,555,43.54
171641,524231,2022-04-01 00:03:11,529,18,9.14
171642,524232,2022-04-01 00:11:23,209,237,42.32
171643,524233,2022-04-01 00:11:31,649,1045,61.40
171644,524234,2022-04-01 00:12:02,656,1356,32.69

In [247]:
X_train = train.drop('TX_FRAUD',axis = 1)
y_train = train['TX_FRAUD']

X_val = val.drop('TX_FRAUD',axis = 1)
y_val = val['TX_FRAUD']

In [249]:
X_train.shape,y_train.shape,X_val.shape,y_val.shape,test.shape

((291231, 5), (291231,), (46597, 5), (46597,), (226731, 5))

In [54]:
!pip install category_encoders==2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting category_encoders==2
  Downloading category_encoders-2.0.0-py2.py3-none-any.whl (87 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 87.8/87.8 kB 4.3 MB/s eta 0:00:00
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.9/dist-packages (from category_encoders==2) (1.4.4)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.9/dist-packages (from category_encoders==2) (0.13.5)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders==2) (1.2.2)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.9/dist-packages (from category_encoders==2) (0.5.3)
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders==2) (1.10.1)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.9/dist-packages (from category_encoders==2) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.21.1->category_encoders==2) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.21.1->category_encoders==2) (2022.7.1)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from patsy>=0.4.1->category_encoders==2) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.20.0->category_encoders==2) (3.1.0)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.20.0->category_encoders==2) (1.1.1)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.9/dist-packages (from statsmodels>=0.6.1->category_encoders==2) (23.0)
Installing collected packages: category_encoders
Successfully installed category_encoders-2.0.0

In [262]:
from sklearn.ensemble import RandomForestClassifier
import category_encoders as ce
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

model_RF = make_pipeline(
    ce.OrdinalEncoder(), 
    SimpleImputer(strategy = 'mean'), 
    StandardScaler(),
    RandomForestClassifier(random_state = 91, n_estimators = 340 , max_depth = 10)
    )
#fit on train
model_RF.fit(X_train, y_train)


#score on train, val 
print('Train Accuracy', model_RF.score(X_train, y_train))
print('Val Accuracy', model_RF.score(X_val, y_val))

Train Accuracy 0.6411036047904612
Val Accuracy 0.472691374981222

In [216]:
X_train.shape,X_val.shape

((186387, 5), (46597, 5))

In [250]:
X_val.drop(columns='TX_DATETIME',inplace=True)

In [251]:
X_train.drop(columns='TX_DATETIME',inplace=True)

In [273]:
y_pred_RF = model_RF.predict(test)

In [270]:
test.shape,train.shape

((226731, 5), (291231, 6))

In [271]:
test.columns

Index(['TRANSACTION_ID', 'TX_DATETIME', 'CUSTOMER_ID', 'TERMINAL_ID',
       'TX_AMOUNT'],
      dtype='object')

In [272]:
test.drop(columns='TX_DATETIME',inplace=True)

In [155]:
Apr_test=test[(test['TX_DATETIME']>='2022-04-01') & (test['TX_DATETIME']<='2022-31-04')]

In [156]:
y_pred1=model_RF.predict(Apr_test)

In [274]:
y_pred_RF=pd.DataFrame(y_pred_RF)
submission_baseline = sample_sumission[['TRANSACTION_ID']].copy()

In [275]:
submission_baseline['TX_FRAUD']=y_pred_RF
submission_baseline.to_csv('CreditCard.csv' , index = False)

In [260]:
from imblearn.over_sampling import SMOTE
sm=SMOTE(random_state=41)
X_res,y_res=sm.fit_resample(X_train,y_train)

In [261]:
X_train,y_train=X_res,y_res

In [225]:
X_train,y_train=X_res,y_res

In [195]:
X_train.head()

        TRANSACTION_ID  CUSTOMER_ID  TERMINAL_ID  TX_AMOUNT
9580            226993          904         1969     115.71
61470           266923          866          501      37.26
95828           239050          224          267      65.97
38291           284707           98         1909       5.66
113039          117588           26          632      39.19

In [145]:
train.shape

(291231, 6)

In [118]:
train=train[(train['TX_DATETIME']>='2022-04-01') & (train['TX_DATETIME']<='2022-31-04')]

In [124]:
test.shape

(55091, 5)

In [127]:
test.columns

Index(['TRANSACTION_ID', 'TX_DATETIME', 'CUSTOMER_ID', 'TERMINAL_ID',
       'TX_AMOUNT'],
      dtype='object')

In [144]:
train.columns

Index(['TRANSACTION_ID', 'TX_DATETIME', 'CUSTOMER_ID', 'TERMINAL_ID',
       'TX_AMOUNT', 'TX_FRAUD'],
      dtype='object')

In [263]:
from sklearn.metrics import classification_report
y_pred_1=model_RF.predict(X_val)

In [264]:
from sklearn.metrics import classification_report
print(classification_report(y_val,y_pred_1))

              precision    recall  f1-score   support

           0       0.99      0.47      0.63     45544
           1       0.03      0.70      0.06      1053

    accuracy                           0.47     46597
   macro avg       0.51      0.58      0.35     46597
weighted avg       0.96      0.47      0.62     46597

In [180]:
X_val.shape,y_val.shape

((46597, 5), (46597,))

In [181]:
y_val.shape,y_pred.shape

((46597,), (226731,))

In [182]:
y_val.shape,y_pred1.shape

((46597,), (55091, 1))

In [183]:
y_pred_1=model_RF.predict(X_val)

In [246]:
train.drop(columns=['x_customer_id','y_customer_id','mean_amount','std_amount','mean_nb_tx_per_day','available_terminals','nb_terminals','x_terminal_id','y_terminal_id'],inplace=True)

In [184]:
y_pred_1.shape

(46597,)

In [266]:
y_pred_train = model_RF.predict(X_train)

In [267]:
from sklearn.metrics import classification_report

print(classification_report(y_train, y_pred_train))

              precision    recall  f1-score   support

           0       0.72      0.47      0.57    284649
           1       0.60      0.81      0.69    284649

    accuracy                           0.64    569298
   macro avg       0.66      0.64      0.63    569298
weighted avg       0.66      0.64      0.63    569298