In [95]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

# Merge train_features.csv & train_labels.csv
train = pd.read_csv('/content/heart.csv')
submission_sample=pd.read_csv('/content/o2Saturation.csv')
# Read test_features.csv & sample_submission.csv
train.head()
submission_sample.head()

   98.6
0  98.6
1  98.6
2  98.6
3  98.1
4  97.5

In [ ]:
train.astype(object)

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0,1,1,2,0

In [83]:
train = pd.read_csv('/content/heart.csv')
train.head(2)

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1

98.6    float64
dtype: object

In [84]:
train, test = train_test_split(train, train_size=0.80, test_size=0.20, random_state=42)
target = 'output'
features = train.drop(columns=[target]).columns.tolist()
train[features]

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall
132,42,1,1,120,295,0,1,162,0,0.0,2,0,2
202,58,1,0,150,270,0,0,111,1,0.8,2,0,3
196,46,1,2,150,231,0,1,147,0,3.6,1,0,2
75,55,0,1,135,250,0,0,161,0,1.4,1,0,2
176,60,1,0,117,230,1,1,160,1,1.4,2,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,50,1,2,140,233,0,1,163,0,0.6,1,1,3
71,51,1,2,94,227,0,1,154,1,0.0,2,1,3
106,69,1,3,160,234,1,0,131,0,0.1,1,1,2
270,46,1,0,120,249,0,0,144,0,0.8,2,0,3
102,63,0,1,140,195,0,1,179,0,0.0,2,2,2

0

In [85]:
train.dtypes

age           int64
sex           int64
cp            int64
trtbps        int64
chol          int64
fbs           int64
restecg       int64
thalachh      int64
exng          int64
oldpeak     float64
slp           int64
caa           int64
thall         int64
output        int64
dtype: object

In [ ]:
train.output.astype(object)

41     1
165    0
180    0
72     1
85     1
      ..
54     1
218    0
1      1
182    0
227    0
Name: output, Length: 123, dtype: object

Index(['age', 'sex', 'cp', 'trtbps', 'chol', 'fbs', 'restecg', 'thalachh',
       'exng', 'oldpeak', 'slp', 'caa', 'thall', 'output'],
      dtype='object')

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
83,52,1,3,152,298,1,1,178,0,1.2,1,0,3,1
149,42,1,2,130,180,0,1,150,0,0.0,2,0,2,1
19,69,0,3,140,239,0,1,151,0,1.8,2,2,2,1
148,44,1,2,120,226,0,1,169,0,0.0,2,0,2,1
28,65,0,2,140,417,1,0,157,0,0.8,2,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13,64,1,3,110,211,0,0,144,1,1.8,1,0,2,1
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0
256,58,1,0,128,259,0,0,130,1,3.0,1,2,3,0
266,55,0,0,180,327,0,2,117,1,3.4,1,0,2,0
102,63,0,1,140,195,0,1,179,0,0.0,2,2,2,1

In [ ]:
train.dtypes

age           int64
sex           int64
cp            int64
trtbps        int64
chol          int64
fbs           int64
restecg       int64
thalachh      int64
exng          int64
oldpeak     float64
slp           int64
caa           int64
thall         int64
output        int64
dtype: object

In [86]:
X_train=train[features]
y_train=train[target]
X_test=test[features]

In [87]:
test.dtypes

age           int64
sex           int64
cp            int64
trtbps        int64
chol          int64
fbs           int64
restecg       int64
thalachh      int64
exng          int64
oldpeak     float64
slp           int64
caa           int64
thall         int64
output        int64
dtype: object

In [89]:
from sklearn.ensemble import RandomForestClassifier
import category_encoders as ce 
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer

#build a pipeline for a ransom forest
pipeline = make_pipeline(
    ce.OneHotEncoder(use_cat_names=True), 
    SimpleImputer(strategy='median'), 
    RandomForestClassifier(n_jobs=-1, bootstrap = True, oob_score =True, random_state=25))
    #The number of jobs to run in parallel. fit, predict, 
    # decision_path and apply are all parallelized over the trees. None means 1 unless in a joblib.parallel_backend context. -1 means using all processors

#fit on train, and score on val 
pipeline.fit(X_train, y_train)

Warning: No categorical columns found. Calling 'transform' will only return input data.

Pipeline(steps=[('onehotencoder', OneHotEncoder(cols=[], use_cat_names=True)),
                ('simpleimputer', SimpleImputer(strategy='median')),
                ('randomforestclassifier',
                 RandomForestClassifier(n_jobs=-1, oob_score=True,
                                        random_state=25))])

In [88]:
!pip install --upgrade category_encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: category_encoders in /usr/local/lib/python3.9/dist-packages (2.6.0)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.22.4)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (0.13.5)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.4.4)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.2.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.10.1)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (0.5.3)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.5->category_encoders) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.1)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.9/dist-packages (from statsmodels>=0.9.0->category_encoders) (23.0)

In [ ]:
y_pred=pipeline.predict(X_test)
test.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
180,55,1,0,132,353,0,1,132,1,1.2,1,1,3,0
266,55,0,0,180,327,0,2,117,1,3.4,1,0,2,0
23,61,1,2,150,243,1,1,137,1,1.0,1,0,2,1
148,44,1,2,120,226,0,1,169,0,0.0,2,0,2,1

In [100]:
y_pred=pipeline.predict(X_test)

In [104]:
y_pred

array([0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0])

In [93]:
print('accuracy is', pipeline.score(X_train,y_train))

accuracy is 1.0

In [117]:
submission=submission_sample['98.6'].copy()
submission['output']=y_pred
submission.to_csv('baseline.csv',index=False)

In [103]:
submission['output']=y_pred
submission.head()

0    98.6
1    98.6
2    98.6
3    98.1
4    97.5
Name: 98.6, dtype: object

0    98.6
1    98.6
2    98.6
3    98.1
4    97.5
Name: 98.6, dtype: object