In [6]:
import pandas as pd
data_url='/content/Book1.xlsx'
df=pd.read_excel(data_url)
df.head()

     X      Y
0  108  392.5
1   19   46.2
2   13   15.7
3  124  422.2
4   40  119.4

In [21]:
from statsmodels.formula.api import ols

equation='Y~X'
model=ols(equation,data=df).fit()
model.params[1]

3.4138235600663642

In [12]:
intercept = model.params[0]
slope = model.params[1]
x=108
predict = intercept + slope * x

print (predict)

388.6874302462822

In [14]:
observed=392.5
residual=observed-predict
print(residual)

3.81256975371781

In [8]:
import scipy.stats as st 

r, p_val = st.pearsonr(df['X'], df['Y'])

print (r, p_val)

0.9128782350234067 2.0466378449523646e-25

In [22]:
import numpy as np

corr_coef = np.corrcoef(df['X'], df['Y'])
corr_coef[0,1]

0.9128782350234075

In [18]:
print('The total payment for', x ,'no of claims', 'is',predict,'.The exact payment is',observed,'There is an error of',residual )

The total payment for 108 no of claims is 388.6874302462822 .The exact payment is 392.5 There is an error of 3.81256975371781